html, body {
    height: 100%;
    width: 100%;
  }
  header{
    font-size: 60px;
    border: solid;
    border-width: 5px;
    background-color: #e28d8d;
    color:#ffffff;
    text-align: center;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    left: 35%;
    
  }
  
  button{
    background-color: #e28d8d;
    color: #ffffff;
    border-style: double;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    cursor: pointer;
  }
  
  button:hover{
    background-color: white;
    color: #e28d8d;
  }
  
  .main{
    text-align: center;
    font-size: 20px;
  }
  
  .main-box{
    display: flex;
  }
  
  .nav{
    border-style: solid;
    margin-top: 15px;
    padding-right: 8px;
  }
  
  .slowbro{
    margin-top: 200px;
    border-style: double;
  }
  